#grid {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: 40vw;
    max-width: 9600px;
    max-height: 9600px;
    border: 2px solid #333;
}
.button-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}
#setGridSize {
    background-color: #04AA6D; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
#resetGrid {
    background-color: #04AA6D; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* calc(100% /16) makes each square 1/16th of the container width */
.square {
    flex: 0 0 calc(100% / var(--grid-size, 16));
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.hover {
    background-color:coral;
}

